ul.menuNavigation li a{
	height: 14px
}
.headerBalanceHolder .innerDateHolder input{
	width: 66px;
}
.fullwidth{
	width: 94.05%;
}
.main-navigation{
	left: -3%;
	position: relative;
	
}
.make-short-block{
	width: 226px;
	height: 60px;
}
.filetext{
	height: 16px;
}

#header{z-index: 2000; position: relative;}
	#header .row-fluid{z-index: 1000; position: relative;}

.bottom-line{z-index: 900}
ul.img-list li a:hover{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='none',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='none',sizingMethod='scale')";
	position: relative;
	border: none;
	padding:5px 7px 10px 6px; 
	margin: -5px -7px -10px -6px;
}
ul.img-list li a{
	position: relative;
}
ul.img-list li a img.back-img{
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: -1;
	border: none;
	margin-bottom: -10px;
}

.main-page-slider li div{
	height: 193px;
}
.bx-wrapper .bx-viewport{
	padding-bottom: 50px;
min-height: 240px;
}
.green-button,
.green-button:hover,
.green-button:focus,
.focus .green-button{
	height: 30px;
}

