.listDiskSpace-button a,
.buttonHolder a {
    border: 1px solid #cccccc;
    height: 20px;
}

.buttonHolder a.blueSubmitS {
    border: none;
}

.buttonHolder a img {
    display: inline;
}

.newsList .buttonHolder,
.newsList .buttonHolder a.blueButtonS,
.hoverButtonUpload a.uploadStyle,
.fullwidth .buttonHolder .blueButton,
.clearNavigation .buttonHolder .blueButton {
    border: none;
}


.selectbox .select {
    border: 1px solid #ccc;
    background-image: none;
    background-color: #e7e7e7;
}

.filter-panel .selectbox,
.locatio-panel .selectbox {
    border: none;
    background-image: none;
}

.filter-panel .selectbox .select,
.locatio-panel .selectbox .select {
    background-image: none;
}

.fullwidth input[type="text"] {
    border: 1px solid #cccccc;
    padding: 6px 9px 5px;
}

.main-navigation li a, .control-panel li a {
    height: 43px;
}

.checkBox, .radio {
    filter: alpha(opacity=0);
}

.ed-button {
    background: #e7e7e7;
}

.ed-button:hover {
    background-color: #f5f5f5;
}
