
.dropdown-menu a {
  cursor: pointer;
}
#content.editor > .row-fluid{
  padding-bottom: 18px;
}

.dashedHolder .row-fluid [class*="span"]{
  min-height: 1em;

}
.remind-link{
  border-bottom: 1px dashed #2881bf;
    margin-top:15px;
    display: inline-block;
}
  .remind-link:hover{
    border-bottom:none;
  }
.dashedHolder{
  border: 1px dashed #d5d5d5;
  padding: 7px;
  margin-bottom: 15px;
  clear: both;
}

.dashedHolder.yellow {
  background: #fffbd9;
  border-color: #f7941d
}

.dashedHolder.yellow .left+.left {
    margin-left: 10px;
}

.dashedHolder.yellow .margin-bottom-10 .left.label {
    float: left;
    width: 217px;
}

.dashedHolder.yellow .margin-bottom-10 .groupedRadio {
    overflow: hidden;
}

.dashedHolder.yellow .margin-bottom-10 .groupedRadio .chbx {
    float: left;
}

.dashedHolder.yellow .margin-bottom-10 .groupedRadio .chbx+.chbx {
    margin-left: 38px;
}


.w200 .selectbox,
 .w200 .select{
    width: 200px;
}

.w210 .selectbox,
 .w210 .select{
    width: 210px;
}

.w505 input[type="text"] {
    width: 505px;
}

.dashedHolder.blue{
  background: #deeeff;
  border-color: #00bff3
}
  .dashedHolder .form-row{
    margin-bottom: 5px
  }
   .dashedHolder .form-row input[type="text"]{
         float: left;
         margin-right: 1%;
       } .dashedHolder .placePub .selectbox{
         float: left;
         margin-right: 1%;
         width: 26%;
       }
         .dashedHolder .placePub .selectbox .select {
         margin-bottom: 0;
         width: 100%;
     }
         .dashedHolder .placePub input[type="text"] {
           float: left;
           margin-right: 1%;
           width: 26%;
         }
         .dashedHolder .placePub input[type="text"].pointname{
            width: 20%;
         }

         .add-article.buttonHolder.not-active a.blueButton {background: #969696;}


          .dashedHolder .placePub .buttonHolder {
            float: left;
            margin-right: 1%;
            overflow: hidden;
          }

          .dashedHolder .placePub .left .selectbox {
            width: 100%;
          }

          .dashedHolder .placePub .buttonHolder a{
             margin-top: 0;
             height: 25px;
             line-height: 25px;
          }

    .form-row.authorData input[type="text"] {
        width: 26%;
    }

    .authorData span{
      display: inline-block;
      float: left;
      margin-top: 6px;
      margin-right: 6px;
      color: #272727;
    }
    .dashedHolder .social-buttons{
      margin-top: 5px;
      margin-bottom: 5px;
    }
  .dashedHolder h5{
    float: left;
    margin: 2px 8px 0 0;
  }

  .add-article.buttonHolder a.blueButton{
    font-size: 20px;
    padding: 8px 15px;
    height: 38px;
    line-height: 20px;
    margin-top: 3px;
  }
  .add-article.buttonHolder.not-active a.blueButton{

  }
  .add-article.buttonHolder.not-active a.blueButton:active{
    background: #969696;
    box-shadow: none;
  }
  .ta-r{
    margin-top:15px;
    float: right;
    margin-right: 20px;
  }

.groupedRadio .span1{
  min-width: 90px !important;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.dashedHolder.yellow > .row-fluid:first-of-type,
.dashedHolder.yellow > .row-fluid:last-child{
  margin-bottom: 0
}


.dashedHolder.violet{
  background: #faeaff;
  border-color: #bd8cbf;
  padding: 8px 12px 13px;
}
  .dashedHolder.violet .form-row input{
    width: 100%;
  }
  .dashedHolder.violet .dataPicker-holder .hasDatepicker{
    width: 96%;
    margin-left: 4%;
    float: left;
  }
  .dashedHolder.violet .dataPicker-holder:first-child .hasDatepicker{
    margin-right: 4%;
    margin-left: 0;
  }
  .dataPicker-holder{
    position: relative;
    float: left;
    width: 50%;
  }
.dataPicker-holder .data-icon{
  background: url("../img/icons/cal-icon.png") no-repeat 0 0;
  position: absolute;
  z-index: 9999;
  right: 2%;
  top: 6px;
  width: 15px;
  height: 15px;
}
  .dataPicker-holder:first-child .data-icon{
    right: 6%;
    cursor: pointer;
  }

  .dashedHolder .label{
    font-weight: bold;
    margin-left: 3px;
    color: #272727;
  }

.dashedHolder .groupedRadio .radio-holder label{color: #272727;cursor: pointer;
}
.dashedHolder .span6 input[type="text"]{
  width: 100%;
}

.button-group{
  float: left;
  margin-right:20px;
  padding-right: 6px;
}
.editor-holder{
  width: 100%;
}
.editor-buttons{
  margin-bottom: 8px;
}
.editor-field{
}
.editor-holder textarea{
  clear: both;
  text-align: left;
  width: 100%;
  min-height: 225px;
  color: #939393;
  font-family: Arial;
}
.button-group.fl-r{
  float: right;
  margin-left: 8px;
  margin-right: 0;
  padding-right: 0;
}

  .ed-button span{
    background: url("../img/elem/editor-icons.png") no-repeat left top;
    display: block;
    height: 27px;
    width: 30px;
  }

    .ed-button {
        float: left;
        cursor: pointer;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #c2c2c2;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.08);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.08);
        box-shadow: 0 1px 3px rgba(0,0,0,0.08);
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#e7e7e7), to(#fefefe));
        background-image: -webkit-linear-gradient(bottom, #e7e7e7, #fefefe);
        background-image: -moz-linear-gradient(bottom, #e7e7e7, #fefefe);
        background-image: -o-linear-gradient(bottom, #e7e7e7, #fefefe);
        background-image: linear-gradient(bottom, #e7e7e7, #fefefe);
        box-sizing: border-box;
    }

    .ed-button:hover {
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ffffff));
        background-image: -webkit-linear-gradient(#f5f5f5, #ffffff);
        background-image: -moz-linear-gradient(#f5f5f5, #ffffff);
        background-image: -o-linear-gradient(#f5f5f5, #ffffff);
        background-image: linear-gradient(#f5f5f5, #ffffff);
    }

    .ed-button+.ed-button {
        border-radius: none;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #d5d5d5;
    }

    .ed-button:first-child {
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
        border-left: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;

    }

    .ed-button:last-child {
    -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

.ed-button.one,
.ed-button.one:last-child {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #c2c2c2;
    border-left: 1px solid #d5d5d5;
}

.ed-button span.font-size{background-position: 9px 8px;width: 46px;}
.ed-button span.bold{background-position: 9px -21px;}
.ed-button span.italic{background-position: 9px -51px;}
.ed-button span.underline{background-position: 7px -80px;}
.ed-button span.crossline{background-position: 7px -111px;}
.ed-button span.text-align-left{background-position: -60px 9px;}
.ed-button span.text-align-center{background-position: -60px -21px;}
.ed-button span.text-align-right{background-position: -60px -51px;}
.ed-button span.text-align-justify{background-position: -60px -81px;}
.ed-button span.create-ul{background-position: -60px -111px;}
.ed-button span.create-ol{background-position: -61px -142px;}
.ed-button span.add-video{background-position: -125px 7px;}
.ed-button span.add-audeo{background-position: -125px -22px;}
.ed-button span.add-file{background-position: -126px -52px;}
.ed-button span.add-img{background-position: -126px -81px;}
.ed-button span.add-link{background-position: -125px -112px;}
.ed-button span.go-back{background-position: -127px -142px;}
.ed-button span.go-forth{background-position: -193px 8px}
.ed-button span.say-in-mice{background-position: -190px -23px;}



.dashedHolder .form-row.with-allow input[type="text"]{
  width: 100%;
  padding-left: 355px;
}

.allowed-holder{
  position: absolute;
  top: 3px;
  left: 4px;
}
.allowed{
  background: #4d9f20;
  padding: 0 16px 0 5px;
  position: relative;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  margin-top: 2px;
  line-height: 17px;
}
  .allowed .close{
      color: #fff;
      position: absolute;
      right: 5px;
      top: 6px;width: 6px;
       height:6px;
      text-transform: lowercase;
      cursor: pointer;
      text-indent: -9999px;
      background: url("../img/elem/allowed-cross2.png") no-repeat 0 0;
  }

 .allowed .od-group{
    display: inline-block;
    padding-left: 18px;
    background: url("../img/elem/od-icon.png") no-repeat 0 3px;
  }
 .allowed .mail{
    display: inline-block;
    padding-left: 17px;
    background: url("../img/elem/mail-icon.png") no-repeat 0 4px;
  }

  /*.private .selectbox .select .text{
    color: #4d9f20;
  }
*/
/*Editor feed auto*/
.dashedHolder.yellow .groupedRadio strong {
    color: #272727;
    margin-right: 10px;
}
