body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
    background: #246da0;
    height: 50px;
}

#header #logo{
    float: left;
    padding: 9px 0 0 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}

#header #mainmenu ul
{
    padding:15px 20px 5px 20px;
    margin:0px;
}

#header #mainmenu ul li
{
    display: inline;
}

#header #mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#header #mainmenu ul li a:hover, #header #mainmenu ul li.active a
{
    color: #6399cd;
    text-decoration:underline;
}

#block_bloknot_submenu
{
    background: #f6f6f6;
    overflow: hidden;
    display: none;
}

#block_bloknot_submenu ul
{
    padding:10px 20px 10px 20px;
    margin:0px;
}

#block_bloknot_submenu ul li
{
    display: inline;
}

#block_bloknot_submenu ul li a
{
    color:#246da0;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#block_bloknot_submenu ul li a:hover, #bloknot_submenu ul li.active a
{
    color: #6399cd;
    text-decoration:underline;
}

#block_authority
{
    display: none;
    background: #f6f6f6;
    border-bottom: 1px solid #dadada;
}

#block_geolocation
{
    display: none;
}

#block_filter
{
    display: none;
}

#block_notification
{
    display: none;
}

#block_search
{
    display: none;
}

.top
 {
    margin-bottom: 20px;
    height: 20px;
 }

.top .check_folder_view
{
    padding: 2px 5px;
    color: #246da0;
    text-decoration: none;
}

.top .check_folder_view.active
{
    background: #cccccc;
    border-radius: 5px;
    color: #777777;
}

.top.change_entry_type ul
{
    list-style-type: none;
}

.top.change_entry_type ul li
{
    float: left;
}

.top.change_entry_type ul li a
{
    display: block;
    padding: 2px;
}

.top .check_place_view
{
    padding: 2px 5px;
    color: #246da0;
    text-decoration: none;
}

.top .check_place_view.active
{
    background: #cccccc;
    border-radius: 5px;
    color: #777777;
}

#content
{
    padding: 20px;
}

#content #block_author
{
    border: 1px dashed #cccccc;
}

#content #block_review
{
    background: #fffbd8;
    border: 1px dashed #ff0000;
    padding: 0px 0px 0px 20px;
}

#content #block_review h5
{
    margin-bottom: 10px;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

.autoclear
{
    color: #cccccc;
}

/* Folder */
.folder_list
{
    float: left;
    width: 200px;
}
.folder_list ul
{
    list-style: none;
}
.folder_list ul li
{
    padding: 5px 0;
}
.folder_entries
{
    margin-left: 200px;
}
.folder_entries_content
{

}
.folder_entries_item
{
    padding: 5px;
    border-bottom: 1px solid #dadada;
}
.folder_entries_item .date
{
    float: right;
}
/* /Folder */

/* Review */
.review_block_inner
{
    display: none;
}
/* /Review */

.ui-widget-header
{
    background: none!important;
    border: 0px solid #FFFFFF!important;
}

